node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types
yarn-error.log
package-lock.json
helper/snapshot.csv

#Hardhat files
cache
artifacts
deployments/cyberpunk
deployments/localhost
deployments/shimmer_testnet
